[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
pillow = "*"
python-decouple = "*"
dj-database-url = "*"
django-s3-folder-storage = "*"
psycopg2-binary = "*"
collectfast = "*"

[dev-packages]

[requires]
python_version = "3.8"
