{% extends 'base.html' %}

{% load bootstrap5 %}

{% block title %} Login do usuário {% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
             <h2>Login</h2>
                <br>
        <form method="POST">
            {% bootstrap_form form %}
            {% csrf_token %}
            <button class="btn btn-info" type="submit">Login</button>
        </form>
    </div>
    <div class="col">


    </div>
    <div class="col">
    </div>
  </div>
</div>


<br>
        <footer class="footer">
            <div class="container">
                <span class="text-muted"> Desenvolvimento Web com Django.</span>
            </div>
        </footer>
{% endblock %}