{% extends 'base.html' %}

{% block title %} Confirmação {% endblock %}


{% block main %}

     <! -- POTS é usado para enviar coisas novas ao servidor, enctype para fazer upload dos arquivos -- >

    <h1>Você tem certeza que deseja deletar {{ person.nome}} {{ person.sobrenome }} da lista de clientes?</h1>
    <form  method="POST" enctype="multipart/form-data">

        {% csrf_token %}
        <! -- submit pega o que esta no form e manda para o servidor -- >
        <button  type="submit" class="btn btn-danger">Sim</button>  <a href="{% url 'persons_list' %}" class="btn btn-info">Não</a>
    </form>
{% endblock %}