{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %} Formulário {% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col-6">
    <! -- POTS é usado para enviar coisas novas ao servidor, enctype para fazer upload dos arquivos -- >
    <form  method="POST" enctype="multipart/form-data">

        {% csrf_token %}
        {% bootstrap_form form %}


        <! -- submit pega o que esta no form e manda para o servidor -- >
        <button type="submit" class="btn btn-info">Salvar</button>
    </form>
    </div>
    <div class="col-">

    </div>
    <div class="col">

    </div>
  </div>
</div>


{% endblock %}
